*.[ao]
*.csv
*~
plotter_old.py
*.pyc
*.png
test.py
#*.sh
*.txt
#myip
/support_files/*
/rad_test/*
/excel_qa/*
*.dat
*.CR1
jun2013toNow.py
data
threaded_datapro.py
/kig/*
fileex.py
eqex.py
timingtest.sh
/datapro_tests/*
datpro_test.sh
XTEST.py
*.pckl
*.data

